.nav-rojo {
  background-color: #ece6e6 !important;
}

.card {
  border: none !important;
}

.btn-primary {
  background-color: #d02d37 !important;
  border-color: #d02d37 !important;
}

.navbar-custom {
  background-color: #a53838; 
  padding: 0.625em 1.25em;   
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: sans-serif;
  color: white;
}

.logo {
  font-size: 1.5em; /* 24px */
  font-weight: bold;
}

.logo span {
  color: white;
  font-weight: 600;
}

.search-container {
  flex: 1;
  margin: 0 1.25em; 
}

.search-container input {
  width: 100%;
  padding: 0.625em 0.9375em; 
  border: none;
  border-radius: 1.875em; 
  background-color: #551111; 
  color: white;
  font-size: 1em; /* 16px */
}

.search-container input::placeholder {
  color: #aaa;
}

.icons {
  display: flex;
  gap: 1.25em; 
  font-size: 1.25em; 
}


.color-iconos {
  color: black !important;
  font-size: 1.1em;
}


.category-section {
    padding: 2rem ;
    background-color: #f8f9fa;
}

.category-title {
    text-align: center;
    margin-bottom: 1em;
    color: #333;
    font-weight: 600;
}

.category-subtitle {
    text-align: center;
    margin-bottom: 2em;
    color: #6c757d;
}

.category-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1em;
    cursor: pointer;
    transition: all 0.4s ease;
}

.category-img-container {
    width: 7.5em;           /* 120px = 7.5em */
    height: 7.5em;          /* 120px = 7.5em */
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 1em;
    border: 0.125em solid #f8f9fa; /* 2px = 0.125em */
    box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.1); /* 4px 8px */
    transition: all 0.3s ease;
}

.category-img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s ease;
}

.category-card:hover .category-img-container {
    transform: scale(1.1);
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.15); /* 8px 16px */
}

.category-name {
    font-weight: 500;
    color: #333;
    text-align: center;
    transition: all 0.3s ease;
}

.category-card:hover .category-name {
    color: #0d6efd;
}





